{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <title>پنل ادمین مدرسه زنده یاد کردی</title>
    <link rel="stylesheet" href="{% static "Static Admin Dashboard/Teacher And Student/css/style.css" %}">
    <link rel="stylesheet" href="{% static "Static Admin Dashboard/Teacher And Student/css/responsive_991.css" %}" media="(max-width:991px)">
    <link rel="stylesheet" href="{% static "Static Admin Dashboard/Teacher And Student/css/responsive_768.css" %}" media="(max-width:768px)">
    <link rel="stylesheet" href="{% static "Static Admin Dashboard/Teacher And Student/css/font.css" %}">
</head>

<body>
    <script>
        function submitDeleteForm(contactId) {
            var form = document.getElementById('delete-form-' + contactId);
            form.submit();
        }
    </script>
    <div class="sidebar__nav border-top border-left">
        <span class="bars d-none padding-0-18"></span>
        <a class="header__logo  d-none"></a>
        <div class="profile__info border cursor-pointer text-center">
            {% for user in users %}
                <div class="avatar__img">
                    <img src="{{ user.photo.url }}" alt="Profile Picture">
                </div>
                <span class="profile__name">{{ user.name }}</span>
            {% endfor %}
        </div>

        <ul>
            <li class="item-li i-users"><a href="{% url "admin_dashboard" %}">دانش آموزان</a></li>
            <li class="item-li i-users"><a href="{% url "admin_dashboard_teacher_seven_one" %}">معلمان</a></li>
            <li class="item-li i-users"><a href="{% url "admin_dashboard_staff" %}">کارکنان</a></li>
            <li class="item-li i-user__inforamtion"><a href="{% url "admin_dashboard_absence_seven_one" %}">حضور و غیاب</a></li>
            <li class="item-li i-ads"><a href="{% url "admin_dashboard_news" %}">اخبار</a></li>
            <li class="item-li i-banners"><a href="{% url "admin_dashboard_facilities" %}">امکانات</a></li>
            <li class="item-li i-comments is-active"><a href="{% url "admin_dashboard_contact" %}">تماس با ما</a></li>
            <li class="item-li i-dashboard"><a href="{% url "admin_dashboard_service" %}">دوره ها</a></li>
            <li class="item-li i-transactions"><a href="{% url "admin_dashboard_common" %}">لیست مشترکین</a></li>
        </ul>

    </div>
    <div class="content">
        <div class="header d-flex item-center bg-white width-100 border-bottom padding-12-30">
            <div class="header__right d-flex flex-grow-1 item-center">
                <span class="bars"></span>
            </div>
            <div class="header__left d-flex flex-end item-center margin-top-2">
                <a href="{% url "Home Page" %}" class="logout" title="خروج"></a>
            </div>
        </div>
        <div class="main-content font-size-13">
            <div class="table__box">
                <table class="table">
                    <thead role="rowgroup">
                        <tr role="row" class="title-row">
                            <th>ردیف</th>
                            <th>نام شخص</th>
                            <th>نام خانوادگی شخص</th>
                            <th>ایمیل شخص</th>
                            <th>شماره تلفن شخص</th>
                            <th>متن</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if contact %}
                            {% for Contact in contact %}
                                <tr role="row" class="">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ Contact.name }}</td>
                                    <td>{{ Contact.last_name }}</td>
                                    <td>{{ Contact.email }}</td>
                                    <td>{{ Contact.phone }}</td>
                                    <td>{{ Contact.message }}</td>
                                    <td class="">
                                        <form id="delete-form-{{ Contact.id }}" action="{% url 'Delete Contact' Contact.id %}" method="post" style="display:none;">
                                            {% csrf_token %}
                                        </form>
                                        <a href="javascript:void(0);" onclick="submitDeleteForm({{ Contact.id }});" class="item-delete mlg-15" title="حذف"></a>   
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" style="text-align: center;">پیغامی در سیستم هوشمند ثبت نشده</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static "Static Admin Dashboard/Teacher And Student/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "Static Admin Dashboard/Teacher And Student/js/js.js" %}"></script>
</body>

</html>