{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="description"
        content="استعداد های درخشان زنده یاد کردی یک مدرسه تیزهوشان هست که در برازجان هست و بهترین مدرسه استان بوشهر است و با کادر آموزشی بسیار مجرب است">
    <meta name="keywords" content="برازجان، زنده یاد کردی، تیزهوشان، استعداد های درخشان، امیر حسین غلامی، مدرسه کردی">
    <meta name="author" content="امیر حسین غلامی">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://kordiborazjan.ir" />
    <link rel="alternate" href="https://kordiborazjan.ir" hreflang="fa-ir" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:url" content="https://kordiborazjan.ir">
    <meta property="og:image" content="https://kordiborazjan.ir/static/Static%20Home/images/Logo.png">

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>استعداد های درخشان زنده یاد کردی</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static "Static Home/images/Sampad.svg" %}">

    <!-- Stylesheet -->
    <link href="{% static "Static Contact/css/bootstrap-select.min.css" %}" rel="stylesheet">
    <link href="{% static "Static Contact/css/animate.css" %}" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static "Static Contact/css/style.css" %}">
    <link class="skin" rel="stylesheet" href="{% static "Static Contact/css/skin-2.css" %}">
    <link rel="stylesheet" href="{% static "Static Contact/css/switcher.css" %}">
    <link rel="stylesheet" href="{% static "Static Contact/css/rangeslider.css" %}">

</head>

<body id="bg">
    <div class="page-wraper">

        <!-- Header -->
        <header class="site-header header  mo-left">
            <!-- Main Header -->
            <div class="sticky-header main-bar-wraper navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="container clearfix">

                        <!-- Website Logo -->
                        <div class="logo-header logo-dark ">
                            <a href="{% url "Home Page" %}"><img src="{% static "Static Teagher And Management/images/Logo.png" %}" style="height: 120px; width: 120px;" alt=""></a>
                        </div>

                        <!-- Nav Toggle Button -->
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
					    </button>

                        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <div class="logo-header logo-dark">
                                <a href="index.html">
                                    <img src="{% static "Static Teagher And Management/images/Logo.png" %}" alt="">
                                </a>
                            </div>
                            <ul class="nav navbar-nav navbar">
                                <li class="">
                                    <a href="{% url "Home Page" %}">
                                        <span>خانه</span>
                                    </a>
                                </li>

                                <li class="sub-menu-down">
                                    <a href="javascript:void(0);">
                                        <span>معلمان</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url "Seven One Teacher List" %}">هفتم یک</a></li>
                                        <li><a href="{% url "Seven Two Teacher List" %}">هفتم دو</a></li>
                                        <li><a href="{% url "Eight One Teacher List" %}">هشتم یک</a></li>
                                        <li><a href="{% url "Eight Two Teacher List" %}">هشتم دو</a></li>
                                        <li><a href="{% url "Nine One Teacher List" %}">نهم یک</a></li>
                                        <li><a href="{% url "Nine Two Teacher List" %}">نهم دو</a></li>
                                    </ul>
                                </li>

                                <li class="sub-menu-down">
                                    <a href="javascript:void(0);">
                                        <span>دانش آموزان</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url "Seven One Student List" %}">هفتم یک</a></li>
                                        <li><a href="{% url "Seven Two Student List" %}">هفتم دو</a></li>
                                        <li><a href="{% url "Eight One Student List" %}">هشتم یک</a></li>
                                        <li><a href="{% url "Eight Two Student List" %}">هشتم دو</a></li>
                                        <li><a href="{% url "Nine One Student List" %}">نهم یک</a></li>
                                        <li><a href="{% url "Nine Two Student List" %}">نهم دو</a></li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a href="{% url "Staff Page" %}">
                                        <span>کارکنان</span>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="{% url "About Page" %}">
                                        <span>درباره ما</span>
                                    </a>
                                </li>


                                <li class="">
                                    <a href="{% url "News Page" %}">
                                        <span>اخبار</span>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="{% url "Contact Page" %}">
                                        <span>تماس با ما</span>
                                    </a>
                                </li>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header End -->
        </header>
        <!-- Header End -->

        <!-- Banner  -->
        <div class="dlab-bnr-inr overlay-primary-dark" style="background-image: url({% static "Static Teagher And Management/images/Two.jpg" %});">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 style="font-family: B Homa;">تماس با ما</h1>
                </div>
            </div>
        </div>

        <!-- Banner End -->
        <div class="content-inner-2">
            <div class="container">
                <div class="row m-t30">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-bx-wraper style-9 m-md-b40">
                            <div class="icon-bx-sm radius bg-primary">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <i class="las la-phone-volume"></i>
                                </a>
                            </div>
                            <div class="icon-content">
                                <h4 class="dlab-title" style="font-family: B Homa;">شماره تماس</h4>
                                <p>123 456 7890</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-bx-wraper style-9 m-md-b40 m-sm-t30">
                            <div class="icon-bx-sm radius bg-primary">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <i class="las la-map-marker"></i>
                                </a>
                            </div>
                            <div class="icon-content">
                                <h4 class="dlab-title" style="font-family: B Homa;">مکان</h4>
                                <p>ایران، بوشهر، برازجان، خیابان نبوت</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="icon-bx-wraper style-9 m-md-t30">
                            <div class="icon-bx-sm radius bg-primary">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <i class="las la-envelope-open"></i>
                                </a>
                            </div>
                            <div class="icon-content">
                                <h4 class="dlab-title" style="font-family: B Homa;">ایمیل</h4>
                                <p>kordischool@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Get A Quote -->
        <div class="content-inner" style="background-image: url(images/bg1.png);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="section-head style-1">
                            <h6 class="sub-title" style="font-family: IRANSansWeb;">لطفا نظرات خود را با ما به اشتراک بزارید...</h6>
                            <h2 class="title" style="font-family: B Homa;">تماس با ما</h2>
                        </div>
                        <form class="dlab-form dzForm" method="post" enctype="multipart/form-data" action="{% url "Contact Page" %}">
                            {% csrf_token %}
                            <div class="dzFormMsg"></div>
                            <input type="hidden" class="form-control" name="dzToDo" value="Contact">
                            <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-user"></i></span>
                                        </div>
                                        <input name="name" type="text" required="" class="form-control" placeholder="نام خود را وارد کنید...">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-user"></i></span>
                                        </div>
                                        <input name="last_name" type="text" class="form-control" required="" placeholder="نام خانوادگی خود را وارد کنید...">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-envelope"></i></span>
                                        </div>
                                        <input name="email" type="text" required="" class="form-control" placeholder="ایمیل خود را وارد کنید...">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-phone"></i></span>
                                        </div>
                                        <input name="phone" type="text" required="" class="form-control" placeholder="شماره تلفن خود را وارد کنید...">
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b20">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-sms"></i></span>
                                        </div>
                                        <textarea name="message" required="" class="form-control" placeholder="پیام خود را بنویسید..."></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button name="submit" type="submit" value="Submit" class="btn btn-primary">ثبت و ارسال<i class="fa fa-angle-right m-l10"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-5 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="dlab-media cf-r-img">
                            <img src="{% static "Static Contact/images/Two.jpg" %}" class="move-4" alt="" style="border-radius: 15px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="site-footer style-1" id="footer" style="background-image: url({% static "Static Home/images/bg10.png" %});">
        <div class="footer-top">
            <div class="container">
                <div class="wrapper-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-md-5 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.1s">
                            <div class="logo mb-2">
                                <img src="{% static "Static Home/images/Logo.png" %}" style="height: 200px; margin-top: -50px;" alt="">
                            </div>
                            <p style="margin-top: -30px;">دبیرستان متوسطه اول استعداد های درخشان زنده یاد کردی.</p>
                        </div>
                        <div class="col-md-7 col-xl-6 ms-auto wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.2s">
                            <h6 class="title" style="font-family: B Homa; color: white;font-size: 30px; ">مشترک شدن در اخبار مدرسه</h6>
                            <div class="dlab-subscribe style-4">
                                <form class="dzSubscribe" action="{% url "Home Page" %}" method="post">
                                    {% csrf_token %}
                                    <div class="dzSubscribeMsg"></div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="email" required="required" type="email" class="form-control" placeholder="آدرس ایمیل...">
                                            <div class="input-group-addon">
                                                <button name="submit" value="Submit" type="submit" class="btn btn-light">مشترک شدن</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.3s">
                        <div class="widget widget_getintuch">
                            <h5 class="footer-title" style="font-family: B Homa;">اطلاعات تماس</h5>
                            <ul>
                                <li>
                                    <i class="fas fa-map-marker-alt "></i>
                                    <span>ایران، بوشهر، برازجان، خیابان نبوت</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>1722 3424 77 98+</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope "></i>
                                    <span>kordischool@gmail.com</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.4s">
                        <div class="widget widget_services style-1">
                            <h5 class="footer-title" style="font-family: B Homa;">صفحه ها</h5>
                            <ul>
                                <li><a href="{% url "Home Page" %}">خانه</a></li>
                                <li><a href="{% url "login" %}">ورود</a></li>
                                <li><a href="{% url "Staff Page" %}">کارکنان</a></li>
                                <li><a href="{% url "About Page" %}">درباره ما</a></li>
                                <li><a href="{% url "News Page" %}">اخبار</a></li>
                                <li><a href="{% url "Contact Page" %}">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.5s">
                        <div class="widget widget_services style-1">
                            <h5 class="footer-title" style="font-family: B Homa;">معلمان</h5>
                            <ul>
                                <li><a href="{% url "Seven One Teacher List" %}">هفتم یک</a></li>
                                <li><a href="{% url "Seven Two Teacher List" %}">هفتم دو</a></li>
                                <li><a href="{% url "Eight One Teacher List" %}">هشتم یک</a></li>
                                <li><a href="{% url "Eight Two Teacher List" %}">هشتم دو</a></li>
                                <li><a href="{% url "Nine One Teacher List" %}">نهم یک</a></li>
                                <li><a href="{% url "Nine Two Teacher List" %}">نهم دو</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.6s">
                        <div class="widget widget_services style-1">
                            <h5 class="footer-title" style="font-family: B Homa;">دانش آموزان</h5>
                            <ul>
                                <li><a href="{% url "Seven One Student List" %}">هفتم یک</a></li>
                                <li><a href="{% url "Seven Two Student List" %}">هفتم دو</a></li>
                                <li><a href="{% url "Eight One Student List" %}">هشتم یک</a></li>
                                <li><a href="{% url "Eight Two Student List" %}">هشتم دو</a></li>
                                <li><a href="{% url "Nine One Student List" %}">نهم یک</a></li>
                                <li><a href="{% url "Nine Two Student List" %}">نهم دو</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"="0.5s"="0.5s"="0.5s"="0.5s"="0.2s">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center"> 
                        <span class="copyright-text">ساخته و برنامه نویسی شده توسط <a href="https://dexignzone.com/" target="_blank">امیر حسین غلامی</a></span> 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
    </div>
   <!-- JAVASCRIPT FILES ========================================= -->
   <script src="{% static "Static Home/js/jquery.min.js" %}"></script>
   <!-- JQUERY.MIN JS -->
   <script src="{% static "Static Home/js/wow.js" %}"></script>
   <!-- WOW JS -->
   <script src="{% static "Static Home/js/bootstrap.bundle.min.js" %}"></script>
   <!-- BOOTSTRAP.MIN JS -->
   <script src="{% static "Static Home/js/owl.carousel.js" %}"></script>
   <script src="{% static "Static Home/js/magnific-popup.js" %}"></script>
   <!-- MAGNIFIC-POPUP JS -->
   <script src="{% static "Static Home/js/waypoints-min.js" %}"></script>
   <!-- WAYPOINTS JS -->
   <script src="{% static "Static Home/js/counterup.min.js" %}"></script>
   <!-- COUNTERUP JS -->
   <script src="{% static "Static Home/js/imagesloaded.js" %}"></script>
   <!-- IMAGESLOADED -->
   <script src="{% static "Static Home/js/masonry-4.2.2.js" %}"></script>
   <!-- MASONRY -->
   <script src="{% static "Static Home/js/isotope.pkgd.min.js" %}"></script>
   <!-- ISOTOPE -->
   <script src="{% static "Static Home/js/lightgallery-all.min.js" %}"></script>
   <!-- LIGHTGALLERY -->
   <script src="{% static "Static Home/js/bootstrap-select.min.js" %}"></script>
   <!-- BOOTSTRAP SELECT -->
   <script src="{% static "Static Home/js/dz.carousel.js" %}"></script>
   <!-- OWL-CAROUSEL -->
   
   <!-- CONTACT JS  -->
   <script src="{% static "Static Home/js/custom.js" %}"></script>
   <!-- CUSTOM JS -->
   
   <script src="{% static "Static Home/js/rangeslider.js" %}"></script>
   <!-- SWITCHER JS -->

</body>

</html>