{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <title>{{ user_info.name }}</title>
    {% if user_info.photo %}
        <link rel="icon" href="{{ user_info.photo }}" alt="عکس کاربر">
    {% endif %}
    <link rel="stylesheet" href="{% static "Static Student/css/style.css" %}">
    <link rel="stylesheet" href="{% static "Static Student/css/responsive_991.css" %}" media="(max-width:991px)">
    <link rel="stylesheet" href="{% static "Static Student/css/responsive_768.css" %}" media="(max-width:768px)">
    <link rel="stylesheet" href="{% static "Static Student/css/font.css" %}">
</head>

<body>
    <div class="sidebar__nav border-top border-left  ">
        <span class="bars d-none padding-0-18"></span>
        <div class="profile__info border cursor-pointer text-center">
            <div class="avatar__img">
                {% if user_info.photo %}
                    <img src="{{ user_info.photo }}" alt="عکس کاربر">
                {% endif %}
            </div>
            <span class="profile__name">{{ user_info.name }}</span>
        </div>

        <ul>
            <li class="item-li i-courses is-active"><a href="courses.html">کارنامه هوشمند</a></li>
            <li class="item-li i-categories"><a href="{% url "Change Page" %}">تغییر اطلاعات</a></li>
        </ul>

    </div>
    <div class="content">
        <div class="header d-flex item-center bg-white width-100 border-bottom padding-12-30">
            <div class="header__right d-flex flex-grow-1 item-center">
                <span class="bars"></span>
            </div>
            <div class="header__left d-flex flex-end item-center margin-top-2">
                <a href="{% url "Home Page" %}" class="logout" title="خروج"></a>
            </div>
        </div>
        <div class="main-content">
            <div class="tab__box">
                <div class="tab__items">
                    <a class="tab__item" href="{% url "student" %}">مهر</a>
                    <a class="tab__item is-active" href="{% url "Aban Score" %}">آبان</a>
                    <a class="tab__item" href="{% url "Azar Score" %}">آذر</a>
                    <a class="tab__item" href="{% url "Dey Score" %}">دی</a>
                    <a class="tab__item" href="{% url "Bahman Score" %}">بهمن</a>
                    <a class="tab__item" href="{% url "Esfand Score" %}">اسفند</a>
                    <a class="tab__item" href="{% url "Farvardin Score" %}">فروردین</a>
                    <a class="tab__item" href="{% url "Ordibehesht Score" %}">اردیبهشت</a>
                    <a class="tab__item" href="{% url "Khordad Score" %}">خرداد</a>
                </div>
            </div>
            <div class="table__box">
                <a href="?download_pdf=true" class="btn btn-primary">دانلود PDF</a>
                <table class="table">
                    <thead role="rowgroup">
                        <tr role="row" class="title-row">
                            <th>ردیف</th>
                            <th>نام درس</th>
                            <th>نمره دانش آموز</th>
                            <th>نام دانش آموز</th>
                            <th>ماه تحصیلی</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in user_info.scores %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ score.subject }}</td>
                                <td>{{ score.score }}</td>
                                <td>{{ score.name }}</td>
                                <td>{{ score.month }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">اطلاعاتی برای نمایش وجود ندارد.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">میانگین نمرات: {{ user_info.average_score|floatformat:2 }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static "Static Student/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "Static Student/js/js.js" %}"></script>
</body>

</html>